body { font:15px/19px "Abel"; } 
.panel { background-position:center; background-attachment:fixed; background-size:cover; border-bottom:10px solid #fff; height:800px; overflow:hidden; position:relative; }
#panel1 { background-image:url("../img/mountain1.jpg"); }
#panel2 { background-image:url("../img/ray.jpg"); }
#panel3 { background-image:url("../img/mountain3.jpg"); }
.panel .message { margin:0 auto; padding:100px 60px; position:absolute; width:100%; z-index:2; }
.panel:nth-child(odd) .message { text-align:left; }
.panel:nth-child(even) .message { text-align:right; }
.panel .message h1 { color:#fff; font-size:56px; line-height:68px; margin-bottom:25px; text-shadow:1px 1px 1px #000; }
.panel .message h2 { color:#fff; font-size:32px; line-height:42px; text-shadow:1px 1px 1px #000; }
.panel .bar { background-color:rgba(0,0,0,.5); position:absolute; height:390px; width:2000px; }
.panel:nth-child(odd) .bar { left:-365px; transform:rotate(-21deg); top:-75px; }
.panel:nth-child(even) .bar { right:-365px; transform:rotate(21deg); top:-75px; }
