@charset "utf-8";
/****************************************
	/css/v1/icon.css
	Dependents:
	/css/v2/alert.css
	/css/v1/button.css
	/css/v1/callout.css
	/css/v1/card.css
	/css/v1/form.css
*****************************************/
html { } /* Fix charset issue */
@font-face { font-family:"icon"; src:url("../../../../ancestry/sitescache/font/v1/17/ancestry.eot?#iefix") format("embedded-opentype"), url("../../../../ancestry/sitescache/font/v1/17/ancestry.woff") format("woff"), url("../../../../ancestry/sitescache/font/v1/17/ancestry.ttf") format("truetype"), url("../../../../ancestry/sitescache/font/v1/17/ancestry.svg#icon") format("svg"); }
.icon:before,
.iconAfter:after { font:normal 123%/0 "icon"; -moz-osx-font-smoothing:grayscale; -webkit-font-smoothing:antialiased; position:relative; speak:none; text-transform:none; top:.125em; }
.icon:before { margin-right:.25em; }
.icon:empty::before { margin-right:0; }
.iconAfter:after { margin-left:.25em; }
.iconArrowSmallUpAfter:after,
.iconArrowSmallUp:before { content:"\25b2"; }
.iconArrowSmallDownAfter:after,
.iconArrowSmallDown:before { content:"\25bc"; }
.iconArrowSmallLeftAfter:after,
.iconArrowSmallLeft:before { content:"\25c4"; }
.iconArrowSmallRightAfter:after,
.iconArrowSmallRight:before { content:"\25ba"; }
.iconArrowUpAfter:after,
.iconArrowUp:before { content:"\25b3"; }
.iconArrowDownAfter:after,
.iconArrowDown:before { content:"\25bd"; }
.iconArrowLeftAfter:after,
.iconArrowLeft:before { content:"\25c1"; }
.iconArrowRightAfter:after,
.iconArrowRight:before { content:"\25b7"; }
.iconPerson:before { content:"\263a"; }
.iconPersonAdd:before { content:"\263b"; }
.iconPeople:before { content:"\e000"; }
.iconFamily:before { content:"\e001"; }
.iconCustomerSupport:before { content:"\e00d"; }
.iconRotateLeft:before { content:"\21ba"; }
.iconRotateRight:before { content:"\21bb"; }
.iconUpload:before { content:"\21a5"; }
.iconDownload:before { content:"\21a7"; }
.iconStarHalf:before { content:"\2730"; }
.iconStarOutline:before { content:"\2606"; }
.iconStar:before { content:"\2605"; }
.iconBell:before { content:"\2622"; }
.iconHelpAfter:after,
.iconHelp:before { content:"\3f"; }
.iconList:before { content:"\2630"; }
.iconSettings:before { content:"\263c"; }
.iconWebLink:before { content:"\21d7"; }
.iconShare:before { content:"\21b8"; }
.iconFlipHorizontal:before { content:"\21c4"; }
.iconFlag:before { content:"\2691"; }
.iconImage:before { content:"\2612"; }
.iconMilitary:before { content:"\272a"; }
.iconMerge:before { content:"\21a3"; }
.iconDislike:before { content:"\261f"; }
.iconDenied:before { content:"\2300"; }
.iconClose:before { content:"\2718"; }
.iconCheck:before,
.iconAfterCheck:after { content:"\2714"; }
.iconProfileCard:before { content:"\274f"; }
.iconCart:before { content:"\a4"; }
.iconCamera:before { content:"\25a3"; }
.iconBookmark:before { content:"\2611"; }
.iconSearch:before { content:"\29c3"; }
.iconEdit:before { content:"\270e"; }
.iconRemove:before { content:"\2297"; }
.iconAdd:before { content:"\2295"; }
.iconStore:before { content:"\e002"; }
.iconFlipVertical:before { content:"\21a8"; }
.iconSupport:before { content:"\229a"; }
.iconArrowBack:before { content:"\21a9"; }
.iconTrash:before { content:"\2717"; }
.iconMap:before { content:"\233c"; }
.iconPin:before { content:"\e003"; }
.iconDocumentAdd:before { content:"\229e"; }
.iconReportError:before { content:"\203c"; }
.iconInbox:before { content:"\e004"; }
.iconExpand:before { content:"\2927"; }
.iconMailSent:before { content:"\2708"; }
.iconBeginThread:before { content:"\29fa"; }
.iconPhone:before { content:"\260f"; }
.iconUnlock:before { content:"\e005"; }
.iconEmail:before { content:"\2709"; }
.iconFolder:before { content:"\2637"; }
.iconCalculator:before { content:"\2328"; }
.iconChat:before { content:"\e006"; }
.iconCenter:before { content:"\22b9"; }
.iconGallery:before { content:"\29c9"; }
.iconHome:before { content:"\2617"; }
.iconStory:before { content:"\e007"; }
.iconAudio:before { content:"\2706"; }
.iconSave:before { content:"\2713"; }
.iconFlipVertical-2:before { content:"\21d5"; }
.iconLightbulb:before { content:"\2762"; }
.iconMinus:before { content:"\2d"; }
.iconPlus:before { content:"\2b"; }
.iconLike:before { content:"\261d"; }
.iconFlipHorizontal-2:before { content:"\21d4"; }
.iconCreditCard:before { content:"\e008"; }
.iconMessageBoard:before { content:"\274d"; }
.iconPrint:before { content:"\2399"; }
.iconCalendar:before { content:"\e009"; }
.iconHeart:before { content:"\2764"; }
.iconAttachment:before { content:"\e010"; }
.iconWarning:before { content:"\21"; }
.iconInfo:before { content:"\69"; }
.iconLock:before { content:"\e011"; }
.iconPlay:before { content:"\25b6"; }
.iconPause:before { content:"\1c1"; }
.iconRewind:before { content:"\23ea"; }
.iconFastForward:before { content:"\23e9"; }
.iconVolumeMin:before { content:"\fe5a"; }
.iconVolumeMedium:before { content:"\ff09"; }
.iconVolumeMax:before { content:"\ff60"; }
.iconStop:before { content:"\25a0"; }
.iconTreeFamily:before { content:"\2442"; }
.iconTreeAdd:before { content:"\228e"; }
.iconTreePedigree:before { content:"\2443"; }
.iconNoteAlt:before { content:"\2395"; }
.iconDocument:before { content:"\2337"; }
.iconDocumentExcel:before { content:"\2327"; }
.iconNote:before { content:"\2338"; }
.iconDocumentPdf:before { content:"\2339"; }
.iconDocumentWord:before { content:"\233a"; }
.iconFacebook:before { color:#3b5999; content:"\66"; }
.iconRss:before { color:#e98300; content:"\2742"; }
.iconYoutube:before { color:#dd473b; content:"\28f"; }
.iconTumblr:before { color:#2c4762; content:"\74"; }
.iconTwitter:before { color:#59bff0; content:"\54"; }
.iconPinterest:before { color:#cc2127; content:"\50"; }
.iconGooglePlus:before { color:#dd4b37; content:"\47"; }
.iconAcom:before { color:#afbc22; content:"\40"; }
.iconMale:before { content:"\2642"; }
.iconFemale:before { content:"\2640"; }
.iconVideo:before { content:"\235c"; }
.iconNewWindow:before { content:"\2751"; }
.iconMove:before { content:"\2629"; }
.iconInvert:before { content:"\21b9"; }
.iconSync:before { content:"\21c5"; }
.iconView:before { content:"\25c9"; }
.iconTag:before { content:"\2326"; }
.iconStories:before { content:"\25a5"; }
.iconDna:before { content:"\2624"; }
.iconClock:before { content:"\25d4"; }
.iconTemple:before { content:"\221e"; }
.iconFamilySearch:before { content:"\2660"; }
.iconFamilySearch2:before { content:"\2663"; }
.iconArrowLargeRight:before { content:"\e600"; }
.iconZoomOut:before { content:"\e601"; }
.iconZoomIn:before { content:"\e602"; }
.iconCrop:before { content:"\e605"; }
.iconFilmstrip:before { content:"\e603"; }
.iconMenu:before { content:"\e607"; }
.iconMobile:before { content:"\e608"; }
.iconDnaMatch:before { content:"\e606"; }
.iconDnaCad:before { content:"\e604"; }
.iconBirth:before { content:"\e609"; }
.iconMarriage:before { content:"\e60e"; }
.iconDeath:before { content:"\e60a"; }
.iconLeaf2::before { content:'\e610'; }
.iconArchives:before { color:#1e1f1c; content:"\e60b"; }
.iconFindAGrave:before { color:#60527e; content:"\e60c"; }
.iconFold3:before { color:#00677b; content:"\e60d"; }
.iconNewspapers:before { color:#000; content:"\e60f"; }
/****************************************
	Custom Icons
*****************************************/
.iconArrowRightAfter:after { margin-left:0; }
.iconArrowLeft:before { margin-right:0; }
.iconArrowSmallUpAfter:after,
.iconArrowSmallDownAfter:after,
.iconArrowSmallLeftAfter:after,
.iconArrowSmallRightAfter:after { margin-left:.125em; }
.iconArrowSmallUp:before,
.iconArrowSmallDown:before,
.iconArrowSmallLeft:before,
.iconArrowSmallRight:before { margin-right:.125em; }
@-webkit-keyframes shake {
	25% { -webkit-transform:rotate(-10deg); }
	50% { -webkit-transform:rotate(0deg); }
	75% { -webkit-transform:rotate(10deg); }
}
@-moz-keyframes shake {
	25% { -moz-transform:rotate(-10deg); }
	50% { -moz-transform:rotate(0deg); }
	75% { -moz-transform:rotate(10deg); }
}
@keyframes shake {
	25% { transform:rotate(-10deg); }
	50% { transform:rotate(0deg); }
	75% { transform:rotate(10deg); }
}
.iconShakyLeaf:before,
.iconShakyLeaf:after { -moz-animation:shake .3s linear 1s 3; -webkit-animation:shake .3s linear 1s 3; animation:shake .3s linear 1s 3; }
/* IE9 (compounding font-size) fix */
.icon.iconLeaf:after,
.icon.iconShakyLeaf:after,
.icon.iconBars:after { font-size:123%; }
.iconLeaf:before,
.iconLeaf:after,
.iconShakyLeaf:before,
.iconShakyLeaf:after,
.iconBars:before,
.iconBars:after { font-family:"icon"; font-weight:normal; left:0; line-height:1em; position:absolute; speak:none; text-transform:none; top:0; -webkit-transform:translate3d(0, 0, 0); -moz-transform-origin:0 100%; -webkit-transform-origin:0 100%; transform-origin:0 100%; }
.iconLeaf:before,
.iconShakyLeaf:before { color:#afbc22; content:"\b7"; }
.iconLeaf:after,
.iconShakyLeaf:after { color:#566c11; content:"\274a"; }
.iconLeaf,
.iconShakyLeaf,
.iconBars { margin:0 auto; min-height:1.25em; padding-left:1.5em; position:relative; }
.iconBars:before { color:#ccc; color:rgba(0, 0, 0, .25); }
.iconBars:before { content:"\2587"; }
.iconBars.iconBarsLow:before { content:"\2585"; }
.iconBars.iconBarsLow:after { content:"\2581"; }
.iconBars.iconBarsMed:before { content:"\2586"; }
.iconBars.iconBarsMed:after { content:"\2582"; }
.iconBars.iconBarsHigh:after { content:"\2587"; }
.iconBars.iconBarsHigh:before { content:""; }
/* Align multiline text next to an icon to not wrap below the icon. */
.iconFlushText { display:inline-block; padding-left:1.6em; text-indent:-1.6em; }
.iconFlushText::before { display:inline-block; line-height:1; text-indent:0; width:1em; }
/* Color options */
.iconColor1:before { color:#bbb0a3; }
/****************************************
	Icons on Links
*****************************************/
a.icon,
button.icon,
.icon:active,
.icon:focus,
.icon:hover,
p .icon,
a.iconAfter,
button.iconAfter,
.iconAfter:active,
.iconAfter:focus,
.iconAfter:hover,
p .iconAfter { text-decoration:none; }
.icon.underline > span,
p .link.icon > span,
p a.icon > span,
.link.icon:focus > span,
.link.icon:hover > span,
.link.icon:active > span,
a.icon:focus > span,
a.icon:hover > span,
a.icon:active > span,
.iconAfter.underline > span,
p .link.iconAfter > span,
p a.iconAfter > span,
.link.iconAfter:focus > span,
.link.iconAfter:hover > span,
.link.iconAfter:active > span,
a.iconAfter:focus > span,
a.iconAfter:hover > span,
a.iconAfter:active > span { text-decoration:underline; }