@charset "utf-8";
/****************************************
	/css/v1/table.css
*****************************************/
.table { margin-top:8px; width:100%; }
.table:first-child { margin-top:0; }
.table tbody th { color:#706b63; font-size:14px; text-align:right; vertical-align:middle; }
.table thead th { border-bottom:2px solid #9e9a91; color:inherit; font-size:inherit; font-weight:bold; text-align:left; }
.table th.tableCellNumber,
.table td.tableCellNumber { text-align:right; }
.tableHorizontal > tbody > tr > th { width:38%; }
.table td { vertical-align:top; word-break:break-word; }
.table td,
.table th { padding:2px 8px; }
.table > tbody > tr:not(:first-child),
.table.tableHorizontalRuled > tbody > tr:not(:first-child) { border-top:1px solid #dedcd6; }
.table tfoot tr:first-child { border-top:2px solid #9e9a91; }
.table.tableHorizontal > tbody > tr { border:0; }
.table:not(.tableHorizontal) > tbody > tr:hover { background-color:rgba(240, 238, 233, .5); }
@media all and (max-width:767px) {
	.table480 caption { display:block; }
	.table480,
	.table480 > tbody,
	.table480 > tbody > tr,
	.table480 > tbody > tr > td { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; display:block; width:100%; }
	.table480 > tbody > tr { border:1px solid #dedcd6; margin-top:8px; }
	.table480 > tbody > tr:nth-child(even) { background-color:#f8f7f3; }
	.table480 > tbody > tr:first-child { margin-top:0; }
	.table480 > tbody > tr::before,
	.table480 > tbody > tr::after { content:''; display:table; }
	.table480 > tbody > tr::after { clear:both; }
	.table480 > thead,
	.table480 > tfoot { display:none; }
	.table480 th.tableCellNumber, 
	.table480 td.tableCellNumber { text-align:left; }
	.table480 > tbody > tr > td[data-label] { float:left; padding-left:120px; text-align:left; text-indent:-116px; vertical-align:middle; }
	.table480 > tbody > tr > td[data-label]::before { content:attr(data-label)":"; display:inline-block; font-weight:bold; padding-right:10px; text-indent:0; width:106px; }
	.table480 .tableHorizontal > tbody > tr > th { padding-left:0; text-align:left; }
}
@media all and (max-width:479px) {
	.table320 caption { display:block; }
	.table320,
	.table320 > tbody,
	.table320 > tbody > tr,
	.table320 > tbody > tr > td { display:block; width:100%; }
	.table320 > tbody > tr { border:1px solid #dedcd6; margin-top:8px; }
	.table320 > tbody > tr:nth-child(even) { background-color:#f8f7f3; }
	.table320 > tbody > tr:first-child { margin-top:0; }
	.table320 > tbody > tr::before,
	.table320 > tbody > tr::after { content:''; display:table; }
	.table320 > tbody > tr::after { clear:both; }
	.table320 > thead,
	.table320 > tfoot { display:none; }
	.table320 th.tableCellNumber, 
	.table320 td.tableCellNumber { text-align:left; }
	.table320 > tbody > tr > td[data-label] { float:left; padding-left:120px; text-indent:-116px; vertical-align:middle; }
	.table320 > tbody > tr > td[data-label]::before { content:attr(data-label)":"; display:inline-block; font-weight:bold; padding-right:10px; text-indent:0; width:106px; }
	.table320 .tableHorizontal > tbody > tr > th { padding-left:0; text-align:left; }
}