@charset "utf-8";
/****************************************
	/css/v1/user-card.css
****************************************/
.userCard { color:inherit; display:block; line-height:50px; margin-top:10px; max-width:100%; min-height:50px; padding-left:60px; position:relative; text-align:left; word-wrap:break-word; z-index:1; }
.userCard:first-child { margin-top:0; }
a.userCard:hover { text-decoration:none; }
.userCardContent { display:inline-block; line-height:1.3; margin-top:-.25em; vertical-align:middle; width:100%; } /* margin-top is for line-height issues */
.userCardContent:only-child { display:block; margin-top:0; }
.userCardInfo { color:#706b63; font-size:14px; margin-top:2px; }
.userCardInfo a,
.userCardInfo .link,
.userCardInfo small { color:inherit; font-size:inherit; margin-right:12px; }
.userCardName { font-weight:bold; }
a.userCardName:not(:hover),
.link.userCardName:not(:hover) { text-decoration:none; }
.userCardEvents { font-size:13px; margin:5px 0; }
.userCardEvents p { margin-top:2px; }
.userCardEvent { display:inline-block; font-weight:bold; margin-right:5px; min-width:48px; text-transform:uppercase; }
/* Images */
.userCardImg { border-radius:50%; display:block; font-size:0; height:50px; margin:0 0 -50px -60px; overflow:hidden; text-align:center; text-shadow:none; width:50px; }
.userCardImg:not(.userCardImgCenter) { background-color:rgba(0, 0, 0, .15); } /* If there is a background color set, in high contrast modes it will cover the image. */
.userCardImg img { max-height:100%; max-width:100%; vertical-align:middle; }
.userCardPortrait img { max-height:none; }
.userCardLandscape img { max-width:none; }
.userCardImgSquare { border-radius:3px; }
.userCardImgCenter img { margin-left:50%; margin-top:50%; -ms-transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); }
.userCardImgCenter:not(.userCardLandscape):not(.userCardPortrait) { background-position:50%; background-repeat:no-repeat; background-size:cover; }
.userCardImgCenter:not(.userCardLandscape):not(.userCardPortrait) img { position:relative; z-index:-1; }
/* Interactive Images */
a.userCardImg,
button.userCardImg { -webkit-transition:box-shadow .2s; transition:box-shadow .2s; }
a.userCardImg:hover,
button.userCardImg:hover { box-shadow:0 0 0 3px #706b63; }
/* Icons */
.userCardImg.icon { border:0; }
.userCardImg.icon::before { color:rgba(0, 0, 0, .2); display:block; font-size:34px; line-height:50px; margin-right:0; position:static; }
/* Size - 120x120 */
.userCardSize1 { font-size:18px; line-height:120px; min-height:120px; padding-left:140px; }
.userCardSize1 .userCardTitle { font-size:44px; line-height:1; }
.userCardSize1 .userCardSubTitle { font-size:28px; margin-top:0; }
.userCardSize1 .userCardEvents { font-size:inherit; }
.userCardSize1 .userCardInfo { font-size:16px; }
.userCardSize1 .userCardImgSquare { border-radius:8px; }
.userCardSize1 .userCardImg { height:120px; margin:0 0 -120px -140px; width:120px; }
.userCardSize1 .userCardImg.icon::before { font-size:78px; line-height:120px; }
.userCardSize1 .userCardImg.iconPerson::before,
.userCardSize1 .userCardImg.iconMale::before,
.userCardSize1 .userCardImg.iconFemale::before { font-size:102px; line-height:138px; }
/* Size - 80x80 : Relates to .userCardContentSize4 below */
.userCardSize4 { line-height:80px; min-height:80px; padding-left:92px; }
.userCardSize4 .userCardTitle { font-size:28px; line-height:1.2; }
.userCardSize4 .userCardSubTitle { font-size:20px; margin-top:0; }
.userCardSize4 .userCardEvents { font-size:inherit; }
.userCardSize4 .userCardInfo { font-size:16px; }
.userCardSize4 .userCardImgSquare { border-radius:6px; }
.userCardSize4 .userCardImg { height:80px; margin:0 0 -80px -92px; width:80px; }
.userCardSize4 .userCardImg.icon::before { font-size:50px; line-height:80px; }
.userCardSize4 .userCardImg.iconMale::before,
.userCardSize4 .userCardImg.iconFemale::before,
.userCardSize4 .userCardImg.iconPerson::before { font-size:70px; line-height:94px; }
/* Size - 50x50 (Default) : Relates to .userCardContentSizeDefault below */
.userCardTitle { font-weight:bold; }
.userCardSubTitle { margin-top:2px; }
.userCardImg.iconFemale::before { font-size:44px; line-height:58px; }
.userCardImg.iconMale::before { font-size:44px; line-height:58px; text-indent:-.15em; }
.userCardImg.iconPerson::before { font-size:44px; line-height:58px; text-indent:.005em; }
/* Size - 30x30 */
.userCardSize2 { line-height:30px; min-height:30px; padding-left:40px; }
.userCardSize2 .userCardSubTitle { margin-top:0; }
.userCardSize2 .userCardImg { height:30px; margin:0 0 -30px -40px; width:30px; }
.userCardSize2 .userCardImg.icon::before { font-size:20px; line-height:30px; }
.userCardSize2 .userCardImg.iconMale::before,
.userCardSize2 .userCardImg.iconFemale::before,
.userCardSize2 .userCardImg.iconPerson::before { font-size:25px; line-height:36px; }
/* Size - 20x20 */
.userCardSize3 { display:inline-block; line-height:20px; margin-right:10px; min-height:20px; padding-left:25px; vertical-align:top; }
.userCardSize3 .userCardTitle,
.userCardSize3 .userCardSubTitle { display:inline-block; }
.userCardSize3 .userCardImg { height:20px; margin:0 0 -20px -25px; width:20px; }
.userCardSize3 .userCardImg.icon::before { font-size:13px; line-height:20px; text-indent:0; }
.userCardSize3 .userCardImg.iconMale::before,
.userCardSize3 .userCardImg.iconFemale::before,
.userCardSize3 .userCardImg.iconPerson::before { font-size:16px; line-height:24px; }
.userCardSize3.userCardInline { margin-right:0; }
/* Inline Version */
.userCardInline { display:inline-block; }
/* Facepile */
.userCardPile { line-height:1.4; padding-left:0; }
.userCardPile .userCardImg { display:inline-block; margin:0 3px 3px 0; vertical-align:top; }
/* Stacked Versions */
.userCardStacked { padding-left:0; text-align:center; }
.userCardStacked .userCardContent { display:block; margin-top:10px; }
.userCardStacked .userCardEvents { display:inline-block; text-align:left; }
.userCardStacked .userCardImg { margin:0 auto; }
.userCardStacked .userCardInfo a,
.userCardStacked .userCardInfo .link,
.userCardStacked .userCardInfo small { margin-left:6px; margin-right:6px; }
@media only screen and (max-width:767px) {
	.userCardStacked480 { padding-left:0; text-align:center; }
	.userCardStacked480 .userCardContent { display:block; margin-top:10px; }
	.userCardStacked480 .userCardEvents { display:inline-block; text-align:center; }
	.userCardStacked480 .userCardEventDetail { display:inline; }
	.userCardStacked480 .userCardImg { margin:0 auto; }
	.userCardStacked480 .userCardInfo a,
	.userCardStacked480 .userCardInfo .link,
	.userCardStacked480 .userCardInfo small { margin-left:6px; margin-right:6px; }
	.userCardSize1 .userCardTitle { font-size:30px; line-height:1; }
	.userCardSize1 .userCardSubTitle { font-size:20px; font-weight:normal; }
}
@media only screen and (max-width:479px) {
	.userCardStacked320 { padding-left:0; text-align:center; }
	.userCardStacked320 .userCardContent { display:block; margin-top:10px; }
	.userCardStacked320 .userCardEvents { display:inline-block; text-align:center; }
	.userCardStacked320 .userCardEventDetail { display:inline; }
	.userCardStacked320 .userCardImg { margin:0 auto; }
	.userCardStacked320 .userCardInfo a,
	.userCardStacked320 .userCardInfo .link,
	.userCardStacked320 .userCardInfo small { margin-left:6px; margin-right:6px; }
}
/* Card Content Sizes */
.userCardContentSize4 .userCardTitle { font-size:28px; font-weight:normal; line-height:1; }
.userCardContentSize4 .userCardSubTitle { font-size:20px; font-weight:normal; margin-top:0; }
.userCardContentSize4 .userCardInfo { font-size:16px; }
.userCardContentSizeDefault .userCardTitle { font-size:16px; font-weight:bold; line-height:1.35; }
.userCardContentSizeDefault .userCardSubTitle { font-size:16px; font-weight:normal; margin-top:2px; }
.userCardContentSizeDefault .userCardInfo { font-size:12px; }
/* Color Variations */
.bgDark.userCard,
.bgDark .userCard,
.bgDark .userCardInfo { color:#f8f7f3; }
.bgDark .userCardImg::before { color:rgba(255, 255, 255, .6); }
.userCardImg.iconFemale { background-color:#f49f99; }
.userCardImg.iconMale { background-color:#97cfcb; }
.userCardImg.iconFemale::before,
.userCardImg.iconMale::before { color:rgba(0, 0, 0, .2); }
/* No Image Variation */
.userCardNoImage { min-height:0; padding-left:0; }
@media print {
	.userCard { page-break-inside:avoid !important; }
	.userCardImgCenter:not(.userCardLandscape):not(.userCardPortrait) img { z-index:1 !important; }
	.userCardImg { background:#fff !important; border:1px solid #ccc !important; box-shadow:none !important; }
}