body { font:15px/19px 'Lato'; }
.clearfix::after, .contentSection::after { clear:both; content:""; display:table; }
.wrapper { margin:0 auto; max-width:1000px; width:100%; }

#logo { margin:0 auto; max-width:700px; width:90%; }

#mainHeader { margin:10px 0; text-align:center; }

#mainNav li { background-color:#af1d21; border-right:1px solid #fff; float:left; font-size:14px; height:45px; line-height:16px; position:relative; text-align:center; transition:.4s; width:12.5%; }
#mainNav li a { bottom:0; color:#fff; display:block; left:0; letter-spacing:1px; padding:22px 0 6px; position:absolute; right:0; text-decoration:none; text-transform:uppercase; }
#mainNav li:hover { background-color:#ca2227; }

#imageNav li { border-right:1px solid #fff; float:left; width:12.5%; }
#imageNav li a { display:block; opacity:.8; transition:.4s; }
#imageNav li a:hover { opacity:1; }

#mainFooter { border-top:3px solid #af1d21; margin-top:40px; padding:20px 0; }
#mainFooter li { float:left; padding:0 10px; }
#mainFooter ul#address li:not(:last-child) { border-right:1px solid #af1d21; }
#mainFooter ul#social { float:right; }
#mainFooter ul#social li { display:inline-block; padding:0 10px; }
#mainFooter ul#social li a { color:#af1d21; font-size:20px; position:relative; text-decoration:none; top:0; transition:.4s; }
#mainFooter ul#social li a:hover { color:#ca2227; top:-2px; }