@charset "utf-8";
/*------------------ Reset CSS ------------------- */
html { overflow-y:scroll; height:100%; }
body { height:100%; }
body, button, dd, div, dl, dt, fieldset, form, input, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, textarea, ul { margin:0; padding:0; }
body, h1, h2, h3, h4, h5, h6 { font:300 13px/1.5 'Open Sans', sans-serif; }
button, input { color:#555555; font:300 13px 'Open Sans', sans-serif; }
table { border-collapse:collapse; border-spacing:0; font:inherit; }
fieldset, img { border:none; }
address, caption, cite, code, em, th, h1, h2, h3, h4, h5, h6 { font-style:normal; font-weight:400; }
caption, th { text-align:left; }
ol, ul, li { list-style:none; text-indent:0; }
button, input[type="button"], input[type="submit"] { overflow:visible; cursor:pointer; }
button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner { border:none; margin:0; outline:none; padding:0; }
button:focus, button:active, input:focus, input:active { outline:none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; margin:0; padding:0; }
/*--------------- Links -------------------- */
a { text-decoration:none; }
p a, p .link, a:hover, a:active, a:focus, a.underline, button.underline { text-decoration:underline; }
.link { -webkit-appearance:none; background:none; border:0; -webkit-box-shadow:none; box-shadow:none; color:#445708; cursor:pointer; padding:0; text-decoration:none; text-align:left; }
.link:active,
.link:hover,
.link:focus { text-decoration:underline; }
/*------------------------------------------- */
/*--------------- Type defaults -------------------- */
/* Other type elements */
strong,
b { font-weight:bold; }
cite,
em,
i { font-style:italic; }
.thin { font-weight:300; }
.light-bold { font-weight:500; }
.semi-bold { font-weight:600; }
.bold { font-weight:700; }
.italic { font-style:italic; }
.slightSpace { letter-spacing:.05em; }
.spaced { letter-spacing:.2em; }
/********************************************************************************/
/* Font sizes */
.text13xlrg { font-size:66px; }
.text12xlrg { font-size:60px; }
.text11xlrg { font-size:54px; }
.text10xlrg { font-size:50px; }
.text9xlrg { font-size:46px; }
.text8xlrg { font-size:42px; }
.text7xlrg { font-size:38px; }
.text6xlrg { font-size:32px; }
.text5xlrg { font-size:28px; }
.text4xlrg { font-size:24px; }
.text3xlrg { font-size:21px; }
.text2xlrg { font-size:18px; }
.textxlrg { font-size:16px; }
.textlrg { font-size:14px; }
.textmed { font-size:13px; }
.textsml { font-size:12px; }
.textxsml { font-size:11px; }
.text2xsml { font-size:9px; }
/****************************************
	Responsive Show/Hide classes
****************************************/

/* IE 8 */
@media \0screen {
	.r .show768,
	.r .show480,
	.r .show320 { display:none\0/ !important; }
}
/* Large Screen */
@media only screen and (min-width:1006px) {
	.r .show768,
	.r .show480:not(.hide768),
	.r .show320:not(.hide768):not(.hide480),
	.r .show768.hide480.show320 { display:none !important; }
}
/* Not Large Screen */
@media only screen and (max-width:1005px) {
	.r body #GlobalWrpr { min-width:320px; padding:0; width:auto; }
}
/* iPad Portait */
@media only screen and (min-width:768px) and (max-width:1005px) {
	.r .hide768,
	.r .show480:not(.show768),
	.r .show320:not(.show768) { display:none !important; }
}
/* iPhone Landscape */
@media only screen and (min-width:480px) and (max-width:767px) {
	.r body { -webkit-text-size-adjust:none; }
	.r .hide768:not(.show480),
	.r .hide480,
	.r .show320:not(.show480) { display:none !important; }
}
/* iPhone Portrait */
@media only screen and (max-width:479px) {
	.r body { -webkit-text-size-adjust:none; }
	.r .hide768:not(.show480):not(.show320),
	.r .hide480:not(.show320),
	.r .hide320 { display:none !important; }
}

/****************************************
	Helper Classes
****************************************/
.clear { clear:both; }
.clearfix:after { clear:both; content:"."; display:block; height:0; visibility:hidden; }
* html .clearfix, *:first-child+html .clearfix { display:block; zoom:1; }
img { max-width:100%; }



