/*-----------------------------------------------*/
/*-------------- General Defaults ---------------*/
/*-----------------------------------------------*/
html { height:auto; min-height:100%; }
body { background:#fff; height:auto; min-height:100%; -webkit-font-smoothing: antialiased; }
h1 { font-size:42px; line-height:52px; }

/*-----------------------------------------------*/
/*----------------- Main Nav --------------------*/
/*-----------------------------------------------*/

#mainWrapper { margin:0 auto; max-width:1440px; }
#mainNav { border-bottom:8px solid blue; height:92px; position:relative; width:100%; }
#mainNav #logo { float:left; height:100%; width:35%; }
#mainNav #logo h1 { padding:15px 0; text-align:center; }
#mainNav ul { float:left; width:65%; }
#mainNav ul li { float:left; }
#mainNav ul li { border-left:1px solid transparent; border-right:1px solid transparent; display:block; padding:35px 10px; position:relative; }
#mainNav ul li:hover { background:#f3f3f3; border-left:1px solid #f1f1f1; border-right:1px solid #f1f1f1; cursor:pointer; }
#mainNav ul li:hover a:before { background:url('../img/nav_hover_left.png') no-repeat left top; bottom:0; content:""; left:0; position:absolute; top:0; width:50%; }
#mainNav ul li:hover a:after { background:url('../img/nav_hover_right.png') no-repeat right top; bottom:0; content:""; position:absolute; right:0; top:0; width:50%; }
#mainNav ul li:hover a { color:#1b88b0; text-decoration:none; -webkit-transition: background .25s; }
#mainNav #mainMenu { background:#f3f3f3; height:100px; opacity:0; position:absolute; top:92px; width:100%; 
    -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
#mainNav #mainMenu.active { opacity:1; }
#mainNav #mainMenu ul { opacity:0; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
#mainNav #mainMenu ul.active { opacity:1; }

/*-----------------------------------------------*/
/*---------------- Main Content -----------------*/
/*-----------------------------------------------*/

#mainContent { }