<div class="navbar navbar-inverse navbar-fixed-top main-menu">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#/">Home</a></li>
          <li><a href="#/moments">Moments</a></li>
          <li><a href="#/favorites">Favorites</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navbar-under">
    <div class="under-top">
      <h1>Kimberly</h1>
      <h4>I love discovering new movies, shows, and books!</h4>
      <div class="page_right ">
        <div class="profile">
          <img src="../../img/profile.jpg" id="perf"/>
          <img src="../../img/followers.jpg" id="followers" />
        </div>
      </div>
    </div>

  </div>

</div>
